<!DOCTYPE html>
<html>
  <head>

    <title>Lorraine's Blog</title>


<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<div class="container">
  ...
</div>

<div class="row">
  ...
</div>

<nav class=”navbar navbar-default navbar-fixed-top”>
  <div class=”container-fluid”>
  </div>
</nav>

<img src=”…” class=”img-responsive” alt=”Responsive image”>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


    <%= render 'shared/nav' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
